/* fonts imported 
font-family: 'Righteous', cursive; */

body{
  font-family: 'Righteous', cursive;
}

.App-header {
  background-color: #1938;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  /* color: #EEE82C; */
}
/*nav bar styles below */
.nav-link.my-class {
  font-family: 'Righteous', cursive;
  font-size: 19px;
  font-weight: bold;
}
.logo-size {
  max-width: 150px;
  max-height: 75px;
  width: auto;
  height: auto;
}


/*Main component below */

.MainStyle {
  padding: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.MainFont {
  font-family: 'Righteous', cursive;
  font-size: 66px;
  font-weight: bolder;
}
.MainFont1 {
  color: #19381F;
  font-family: 'Righteous', cursive;

}
.lowerMain {
display: flex;
align-items: center;
justify-content: center;
}
.lowerMainRow {
  padding-top: -10px;
  font-family: 'Righteous', cursive;

}
.finalCol {
display: flex;
align-items: center;
justify-content: center;
color: wheat;
}
/*Icons Middle below */

button {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

button:hover {
  background-color: black;
  color: white;
}

.centerIcons {
display: flex;
align-items: center;
justify-content: center;
padding-top: 50px;
}

.spaceApart {
  justify-content: space-between;
}



/* colors #19381F */